
body{
    padding: 50px;
}

img{
    width:150px;
    height:250px;
}

#gallery{
    background-color: aliceblue;
}

.card-deck{
    margin-top: 30px;
}

.clicks{
    margin-top: 60px;
}














